{% extends 'base.html.twig' %}

{% block title %}All programs
{% endblock %}

{% block body %}
	<h1>Catégories :
	</h1>
	{% for category in categories %}
		<div>
			<h2>{{ loop.index }}
				/
				{{ category.name}}</h2>
		</div>
		<a href="{{ path("category_show", {categoryName: category.name}) }}">Voir la fiche</a>

	{% endfor %}
{% endblock %}
