{% extends 'base.html.twig' %}

{% block title %}All Programs
{% endblock %}

{% block body %}
	<h1 class="text-center">Toutes les séries:
	</h1>
</br>
{% for Program in Programs %}
	<div class="container">
		<div class="row justify-content-around">
			<div class="col-4">
				<div class="card text-white bg-secondary mb-3" style=" max-width-20rem;s">
					<div class="card-header">
						<h4 class="card-title">{{ loop.index }}
							/
							{{ Program.title }}</h4>
					</div>
					<p class="card-text mt-4">{{ Program.synopsis }}</p>
					<button type="button" class="btn btn-light mb-4 mt-4">
						<a href="{{ path("Program_show", { id: Program.id }) }}">Voir la fiche</a>
					</button>
				</div>
			</div>
		</div>
	{% endfor %}
{% endblock %}
