

// customize some Bootstrap variables

// the ~ allows you to reference things in node_modules
@import "custom";
@import "~bootstrap/scss/bootstrap";

body{
        background-color: $primary;
}

.link:hover { color: $secondary; }

.btn-dark{
        background-color: $third;
}

.navbar-dark{
        background-color: $third;
}

